h1 {
	text-align: center;
	color:white;
	font-family: 'Roboto', sans-serif;
}

.robots {
}

.head, 
.left_arm, 
.torso, 
.right_arm, 
.left_leg, 
.right_leg {
	 background-color: #5f93e8;
}

body{
	background-image: url("myimage.jpg");
}

.head { 
	width: 200px; 
	margin: 0 auto; 
	height: 150px; 
	border-radius: 200px 200px 0 0; 
	margin-bottom: 10px;
} 

.eyes {
	
}

.head:hover {
	width: 300px;
    transition: 1s ease-in-out;
}

.upper_body { 
	width: 300px; 
	height: 150px;
		margin: 0 auto;

	display:flex;

} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm { 
	margin-right: 10px; 
} 

.right_arm { 
	margin-left: 10px; 
} 

.left_arm:hover{
	transform: skew(-10deg);
	background-color:red;
	cursor: wait;
}

.right_arm:hover{
	transform: skew(10deg);
	background-color:red;
	cursor: wait;
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
	transition: all 1s;
} 


.torso:hover{
	transform: scale(1.05);
	background-color: rgb(0,0,255,1);
}
.lower_body { 
	width: 200px; 
	height: 200px;
	/* This is another useful property. Hmm what do you think it does?*/
	margin: 0 auto;
	display:flex;

} 

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 

} 

.left_leg { 
	margin-top: 40px;
	margin-left: 40px; 
} 

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
        background-color: red;
}

.right_leg{
	margin-top: 40px;
	margin-left:45px;
}

.right_leg:hover { 
	margin-left: 45px; 
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    background-color: red;
}

.left_eye, .right_eye { 
	width: 20px; 
	height: 20px; 
	border-radius: 15px; 
	background-color: white;  
	display: inline-block;
} 

.left_eye { 
	/* These properties are new and you haven't encountered
	in this course. Check out CSS Tricks to see what it does! */
	position: relative; 
	top: 100px; 
	left: 40px; 
} 

.right_eye { 
	position: relative; 
	top: 100px; 
	left: 120px; 
}





