body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url("header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;
}

.align{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.buffer{
  height: 15rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: #116396;
}
.container-fluid
{
    width: 400px;
    margin: 60px auto;
    padding: 10px;
}


.display
{
    text-align: center;
    width: 400px;
    color: #16a864;
}
.wrapper
{
    margin: 0 9rem;
    background-color: white;
    height: 45vh;
    margin: 50px auto;
    border-radius: 2px;
}

.wrapper h2
{
    padding: 5px 0;
    text-align: center;
    background: #0548b5;
    color: white;
    font-family: sans-serif;
}
.wrapper p
{
    margin:20px 50px;
    margin-right: 20px;
    text-align: left;
    color: #04214c;
    font-size:23px;
