h1 {
  font-size: 4rem; /* set the font size to your desired value */
  text-align: center; /* center the text horizontally */
  margin-top: 2rem; /* add top margin to vertically center the text within its container */
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* decrease font size for smaller screens */
  }
}

h2 {
  font-size: 2rem; /* set the font size to your desired value */
  text-align: center; /* center the text horizontally */
  margin-top: 2rem; /* add top margin to vertically center the text within its container */
}

@media (max-width: 768px) {
  h2 {
    font-size: 1rem; /* decrease font size for smaller screens */
  }
}

/* Set the width and height of the HTML and body elements to 100% */
body, html {
  width: 100%;
  height: 100%;
  /* Set the font family to 'Montserrat', which is a sans-serif font */
  font-family: 'Montserrat', sans-serif;
  /* Set the background image to 'weather.jpeg' and center it both horizontally and vertically */
  background: url("weather.jpeg") no-repeat center center fixed;
  /* Set the background image to cover the entire viewport */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
